# XCode noise
PLBlocks.framework/*
*.pbxuser
*.mode1v3
*.pyc 
*~.nib/ 
*.perspective 
*.perspectivev3
xcuserdata/
build/
CoreLocation.framework
libxml2.2.dylib

# old school
.svn

# osx noise
.DS_store
.DS_Store
profile
